body{
    text-align: center;
    background-color:rgb(233,215,207);
    margin:20px;
}

h1{
    font-family:'Oswald', sans-serif;
    color: rgb(138, 43, 226)
}

p{
    font-family:'fira sans', sans-serif;
    color: rgb(138, 154, 179);
}
a:hover{
    text-decoration: underline;
}
